a {
	color: #FFF;
	text-decoration: none;
}

body, html {
	height:100%;
	margin:0;
	padding:0;
}

h1 {
	margin: 0;
	letter-spacing: 4px;
}

p {
	letter-spacing: 3px;
	text-indent: 30px;
}

.about-body, .blog-body {
	padding: 20px 30px;
}

.about-close-btn, .blog-close-btn {
	cursor: pointer;
	margin: 0;
	position: absolute;
	right: 10px;
	top: 5px;
}

.about-container, .blog-container {
	animation-duration: 1s;
	animation-name: aboutContainer;
	animation-timing-function: linear;
	background-color: #FFF;
	border: 1px solid gray;
	border-radius: 10px;
	display: none;
	min-height: 200px;
	opacity: 0.8;
	position: fixed;
	left: 30%;
	top: 200px;
	width: 40%;
}

.about-header {
	border-bottom: 1px solid gray;
	letter-spacing: 3px;
}

.header {
	align-items: center;
	display: flex;
	font-size: 16px;
	justify-content: center;
	margin: 0 20%;
	position: fixed;
	top: 60px;
	width: 60%;
}

.main-container {
	animation-duration: 1.4s;
	animation-name: mainContent;
	animation-timing-function: linear;
	background-image: url('images/ouryof_background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.nav-bottom {
	background-color: #000;
	bottom: 0;
	color: #FFF;
	height: 60px;
	position: fixed;
	width: 100%;
}

.nav-item {
	cursor: pointer;
	font-size: 18px;
	line-height: 60px;
	padding: 20px;
}

.opening-animation {
	animation-duration: 1s;
	animation-name: colorExpansion;
	animation-timing-function: linear;
	background-color: #D28140;
	position: fixed;
	top: 0;
	height: 0;
	width: 0;
}

.side-bar.open {
	align-content: center;
	animation-duration: 0.5s;
	animation-name: openSidebar;
	animation-timing-function: linear;
	background-color: gray;
	display: flex;
	height: 100%;
	opacity: 0.5;
	position: fixed;
	right: 0;
	top: 0;
	width: 250px;
}

.side-bar.closed {
	align-content: center;
	animation-duration: 0.5s;
	animation-name: closeSidebar;
	animation-timing-function: linear;
	background-color: gray;
	display: flex;
	height: 100%;
	opacity: 0.5;
	position: fixed;
	right: -250px;
	top: 0;
	width: 250px;
}

.side-bar-close {
	color: #FFF;
	cursor: pointer;
	margin: 0;
	padding: 10px;
}

.side-bar-open {
	animation-duration: 2s;
	animation-name: sidebarOpenBtn;
	animation-timing-function: linear;
	color: #FFF;
	cursor: pointer;
	display: none;
	margin: 0;
	opacity: 0.5;
	padding: 10px;
	position: fixed;
	right: 0;
	top: 0;
}

.side-content {
	display: block;
	margin: auto;
	padding-bottom: 100px;
	width: 30%;
}

.text-center {
	text-align: center;
}

@keyframes aboutContainer {
	from {opacity: 0.0;}
	to {opacity: 0.8}
}

@keyframes closeSidebar {
	from {right: 0;}
	to {right: -250px;}
}

@keyframes openSidebar {
	from {right: -250px;}
	to {right: 0;}
}

@keyframes colorExpansion {
	0% {height: 60px; width: 0; top: 40%;}
	50% {height: 60px; top: 40%; width: 100%;}
	100% {height: 100%; top: 0; width: 100%;}
}

@keyframes mainContent {
	0% {opacity: 0}
	60% {opacity: 0}
	100% {opacity: 1}
}

@keyframes sidebarOpenBtn {
	from {opacity: 0;}
	to {opacity: 0.5;}
}